.noise-borders
{
    background-image:url(./media/matrix.gif);
    width: 100vw;
    height: 100vw;
}

.content
{
    background-image: url(./media/black-prism-concept-ai-generated.jpg);
    background-size:cover;
    background-position:center;
}

.header h1
{
    padding-top: 40px;
    background: #000000;
    background: linear-gradient(to right, #0a0a0a 20%, #73ff00 100%);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-container
{
    border: solid;
    border-radius: 10px;
    margin-top: 20px;
    background-image: url(./media/pattern.jpg);
}

.conversionInputs
{
    font-size: 30px;
}

.input-selectors div
{
    border: solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 30px !important;
}

.calculationButtons div
{
    border: solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px !important;
}

.input-selectors-right div
{
    border: solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 30px !important;
}

.img-container img
{
    padding-top: 40px;
    padding-bottom: 40px;
}

.customer-quote h3
{
    margin-top: 40px;
}

.img-container audio
{
    padding-bottom: 20px;
}